<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}
            <div class="col-md-3">
                <div class="card mt-3" style="width: 15rem; height: 25rem;">
                    <img style="height: 27vh; width: 15rem;" src="/product-images/{{this._id}}.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">{{this.Description}}</p>
                        <button class="btn btn-success btn-sm float-left" style="width: 4vw;">Rs{{this.Price}}</button>
                        <button onclick="addToCart('{{this._id}}')" class="btn btn-primary btn-sm float-right" style="width: 6vw;">Add to Cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>